/* Quotation elements */
q {
    /* This makes the quote italicized */
    font-style: italic;
}

a:link {
    color: #FCA311;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FC8E11;
}

/* mouse over link */
a:hover {
    color: #FC5212;
}

/* selected link */
a:active {
    color: #FC8E11;
}

.contact {
    cursor: pointer;
    color: #FCA311;
    text-decoration: none;
}

/*--------------------------------------------------------------
NAVBAR SECTION
--------------------------------------------------------------*/

.portfolio-navbar {
    background-color: #18182A;
}

.portfolio-navbar .nav-link {
    color: #CDC6CC;
}

.portfolio-navbar .nav-link:hover {
    color: #E9E7E9;
}

.portfolio-navbar .active {
    color: #FFF;
}

/*--------------------------------------------------------------
HERO SECTION
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    text-align: center;
}

/*--------------------------------------------------------------
ABOUT SECTION
--------------------------------------------------------------*/

#About {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #18182A;
}

#About:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#About .container {
    position: relative;
}

/* MASK FOR CAROUSEL */
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

.bg-image .mask .text {
    height: 100%;
    display: flex !important;
    align-items: self-end;
    justify-content: center !important;
}

.bg-image .mask .text p {
    margin: 0;
}

/*--------------------------------------------------------------
PORTFOLIO SECTION
--------------------------------------------------------------*/

#Portfolio {
    width: 100%;
    min-height: 170vh;
    position: relative;
    background-color: #4A4E69;
}

#Portfolio:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#Portfolio .container {
    position: relative;
}

.portfolio-card {
    min-height: 440px;
}

/*--------------------------------------------------------------
FOOTER
--------------------------------------------------------------*/

#Footer {
    width: 100%;
    height: 20vh;
    position: relative;
    background-color: #4A4E69;
}

/*--------------------------------------------------------------
CONTACT FORM
--------------------------------------------------------------*/

/* Button used to open the contact form - fixed at bottom of page */
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw;
    /* Positions the button slightly right from the side of the viewport */
    width: 25vw;
    cursor: pointer;
    animation: movePopup 5s;
    -webkit-animation: movePopup 5s;
    z-index: 5;
}

.Pop_Up_Button_Colors {
    color: #22223B;
    background-color: white;
    border: solid #22223B;
}

.Pop_Up_Button_Colors:hover {
    color: white;
    background-color: #22223B;
}

.form-container .form-button {
    color: #22223B;
    border: solid 1px #22223B;
}

.form-container .form-button:hover {
    color: white;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    background-color: darkred;
    border: solid 1px darkred;
}

@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        right: 1.75vw;
    }
}

@-webkit-keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        right: 1.75vw;
    }
}

/* Contact form styling */
.form-popup {
    z-index: 8;
    display: none;
    /* Set the display to none, using JavaScript to show the contact form */
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    min-width: 30vw;
    padding: 1vw;
    background-color: white;
    /* font-family: Lora, serif; */
    letter-spacing: normal;
    border-radius: 10px;
}

/* Input fields */
.form-container input[type=text] {
    border: none;
    background-color: gainsboro;
    /* font-family: Roboto, sans-serif; */
}

/* JUMBOTRON VIDEO */
/* .jumbotron {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-color: rgb(7, 7, 66, 0.8);
}

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
} */